// $green: #1C5428;
// $vinred:#540715;
// $lgreen: #5DB85F;
// $orange: #FF5E00;
// $lorange: #FF7038;
// $petrol: #008080;
// $lpetrol:#00B9B9;



$petrol: #00987f;
$lpetrol:#8de5b5;
$dpetrol:#02aaad;
$grey: #8da583;
$green: #b7ec60;
$yellow1: #effa00;
//$yellow: #e9ea44;
$yellow: #E6E86C;
